<mat-card class="wrap">
  <h2>Reseña del turno #{{ id }}</h2>

  <form [formGroup]="form" (ngSubmit)="guardar()">
    <mat-form-field appearance="outline" class="w">
      <mat-label>Reseña</mat-label>
      <textarea matInput rows="6" formControlName="texto" maxlength="800"></textarea>
      <mat-hint align="end">{{ form.get('texto')?.value?.length || 0 }}/800</mat-hint>
      <mat-error *ngIf="form.get('texto')?.hasError('required')">Campo obligatorio</mat-error>
      <mat-error *ngIf="form.get('texto')?.hasError('minlength')">Mínimo 5 caracteres</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Guardar reseña</button>
  </form>
</mat-card>



<!-- <p>resenia works!</p>

<mat-card class="wrap">
  <h2>Reseña del turno #{{ id }}</h2>

  <form [formGroup]="form" (ngSubmit)="guardar()">
    <mat-form-field appearance="outline" class="w">
      <mat-label>Reseña</mat-label>
      <textarea matInput rows="6" formControlName="texto" placeholder="Escribe aquí..."></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      Guardar reseña
    </button>
  </form>
</mat-card>
 -->