<mat-card class="wrap">
  <h2>Reseñas pendientes</h2>

  <div class="list" *ngIf="pendientes.length; else empty">
    <div class="item" *ngFor="let t of pendientes">
      <div class="f"><b>Fecha:</b> {{ t.fechaISO | date:'EEE d/MM HH:mm' }}</div>
      <div class="f"><b>Paciente:</b> {{ t.paciente }}</div>
      <div class="f"><b>Especialidad:</b> {{ t.especialidad }}</div>
      <a mat-stroked-button color="primary" [routerLink]="['/especialista/resenia', t.id]">Completar reseña</a>
    </div>
  </div>

  <ng-template #empty>
    <div class="empty">No hay reseñas pendientes.</div>
  </ng-template>
</mat-card>