<mat-card>
  <mat-card-title>Turnos por especialidad</mat-card-title>
  <canvas #bar1></canvas>
</mat-card>

<mat-card style="margin-top:1rem">
  <mat-card-title>Turnos por día</mat-card-title>
  <canvas #bar2></canvas>
</mat-card>


<!-- <p>turnos-especialidad works!</p>

<section class="chart-container">
  <h2>Turnos por Especialidad</h2>
  <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="barChartType">
  </canvas>
</section>

<canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType">
</canvas>

hola -->