<!-- 
<div class="seleccionar-usuario-container">
  <mat-card class="selector-card">
    <mat-card-header>
      <mat-card-title>Iniciar sesión</mat-card-title>
      <mat-card-subtitle>¿Con qué rol desea ingresar?</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="button-group">
        <button mat-raised-button color="primary"
                (click)="router.navigate(['/auth','registro','paciente'])">
          Paciente
        </button>
        <button mat-raised-button color="accent"
                (click)="router.navigate(['/auth','registro','especialista'])">
          Especialista
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div> -->


<!-- <div class="selector-container">
  <h2>Selecciona tu tipo de usuario</h2>
  <div class="cards">
    <mat-card class="card" (click)="irAPaciente()">
      <div class="icon">
        <img src="assets/icons/paciente.JPG" alt="Paciente">
      </div>
      <button mat-button>Paciente</button>
    </mat-card>

    <mat-card class="card" (click)="irAEspecialista()">
      <div class="icon">
        <img src="assets/icons/especialista.JPG" alt="Especialista">
      </div>
      <button mat-button>Especialista</button>
    </mat-card>
  </div>
</div>
 -->

 
<mat-card class="selector-card">
  <mat-card-header>
    <mat-card-title>Iniciar sesión</mat-card-title>
    <mat-card-subtitle>¿Con qué rol desea ingresar?</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="button-group">
    <button mat-raised-button color="primary"
            (click)="router.navigate(['/registro-paciente'])">
      Paciente
    </button>
    <button mat-raised-button color="accent"
            (click)="router.navigate(['/registro-especialista'])">
      Especialista
    </button>
  </mat-card-content>
</mat-card>
