<!-- 
<div class="selector-container">
  <h2>Elegí tu tipo de cuenta</h2>

  <div class="circles-container">
    
    <div class="circle-item" (click)="irAPaciente()">
      <div class="circle-image">
        <img src="assets/icons/paciente.JPG" alt="Paciente">
        <div class="overlay"></div>
      </div>
      <span class="label">Paciente</span>
    </div>

    <div class="circle-item" (click)="irAEspecialista()">
      <div class="circle-image">
        <img src="assets/icons/especialista.JPG" alt="Especialista">
        <div class="overlay"></div>
      </div>
      <span class="label">Especialista</span>
    </div>

  </div>
</div> -->




<!-- <div class="selector-container">
  <h2>Selecciona tu tipo de usuario</h2>
  <div class="cards">
    <mat-card class="card" (click)="irAPaciente()">
      <div class="icon">
        <img src="assets/icons/paciente.JPG" alt="Paciente">
      </div>
      <button mat-button>Paciente</button>
    </mat-card>

    <mat-card class="card" (click)="irAEspecialista()">
      <div class="icon">
        <img src="assets/icons/especialista.JPG" alt="Especialista">
      </div>
      <button mat-button>Especialista</button>
    </mat-card>
  </div>
</div>

 -->
