.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  app-main-nav {
    flex: 0 0 auto;
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}
