<p>pacientes works!</p>

<mat-card class="wrap">
  <h2>Pacientes atendidos</h2>

  <div class="grid" *ngIf="pacientes.length; else empty">
    <div class="item" *ngFor="let p of pacientes" [routerLink]="['/especialista/paciente', p.id]">
      <div class="avatar">
        <mat-icon *ngIf="!p.avatarUrl">person</mat-icon>
        <img *ngIf="p.avatarUrl" [src]="p.avatarUrl" [alt]="p.nombre">
      </div>
      <div class="name">{{ p.nombre }}</div>
      <button mat-stroked-button color="primary">Ver ficha</button>
    </div>
  </div>

  <ng-template #empty>
    <div class="empty"><mat-icon>info</mat-icon> Aún no hay pacientes.</div>
  </ng-template>
</mat-card>


