<mat-toolbar
  color="primary"
  class="main-nav mat-elevation-z4"
  *ngIf="!cargando() && autenticado()"
>
  <button mat-button class="brand" (click)="irAHOME()" aria-label="Ir al inicio">
    <mat-icon>local_hospital</mat-icon>
    <span>Clínica Monllor</span>
  </button>

  <nav class="links">
    <a
      mat-button
      *ngFor="let item of navItems()"
      [routerLink]="item.route"
      routerLinkActive="active-link"
      aria-current="page"
    >
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </a>
  </nav>

  <span class="spacer"></span>

  <button
    mat-icon-button
    [matMenuTriggerFor]="userMenu"
    aria-label="Menú de usuario"
    matTooltip="Opciones de cuenta"
  >
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item disabled class="usuario-nombre">
      <mat-icon>person</mat-icon>
      <span>{{ nombreVisible() }}</span>
    </button>
    <button mat-menu-item (click)="irAMiPerfil()" *ngIf="!tieneLinkPerfil()">
      <mat-icon>badge</mat-icon>
      <span>Mi perfil</span>
    </button>
    <button mat-menu-item (click)="cerrarSesion()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>

