<h2>Mis turnos</h2>

<div class="filters">
  <button mat-stroked-button (click)="filtro.set('especialidad')">Filtrar por especialidad</button>
  <button mat-stroked-button (click)="filtro.set('especialista')">Filtrar por especialista</button>
  <!-- input class="q" placeholder="Buscar…" [value]="query()" (input)="query.set(($event.target as HTMLInputElement).value)" / -->


  <input class="q" placeholder="Buscar…" [value]="query()" (input)="query.set($any($event.target).value)" />


</div>

<section class="list" *ngIf="filtrados().length; else empty">
  <mat-card class="item" *ngFor="let t of filtrados()">
    <div class="row">
      <div class="left">
        <div class="title">{{ t.especialidad }} • {{ t.especialista }}</div>
        <div class="sub">{{ t.fechaISO | date:'EEE d/MM HH:mm' }}</div>
        <div class="state">{{ t.estado }}</div>
      </div>
      <div class="right">
        <a mat-button color="primary" [routerLink]="['/paciente/turno', t.id]">Detalles</a>
        <button mat-button *ngIf="t.estado!=='realizado' && t.estado!=='cancelado'" (click)="cancelar(t.id)">Cancelar</button>
        <a mat-button *ngIf="t.tieneResenia" [routerLink]="['/paciente/turno', t.id]">Ver reseña</a>
        <a mat-button *ngIf="t.puedeEncuesta" routerLink="/paciente/encuestas">Completar encuesta</a>
      </div>
    </div>
  </mat-card>
</section>

<ng-template #empty>
  <div class="empty"><mat-icon>info</mat-icon> No hay turnos.</div>
</ng-template> 