/* You can add global styles to this file, and also import other style files */


/* === Fondo global para TODA la app === */
:root {
  --bg-blue-spot: rgba(123, 178, 223, 0.25);
  --bg-green-spot: rgba(76,175,80,.25);
  --bg-top: #172a3d;
  --bg-mid: #445361;
  --bg-bottom: #263849;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  /* Fallback sólido por si falla el gradient */
  background-color: var(--bg-mid);
  /* Mismo gradient que usamos en Bienvenida */
  background:
    radial-gradient(1200px 600px at 80% -10%, var(--bg-blue-spot), transparent),
    radial-gradient(900px 500px at -10% 20%, var(--bg-green-spot), transparent),
    linear-gradient(180deg, var(--bg-top) 0%, var(--bg-mid) 40%, var(--bg-bottom) 100%);
  background-attachment: fixed;     /* que no “salte” al scrollear */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;               /* cubre alto total en móviles */
}

/* Opcional: estilo translúcido global para mat-card */
.mdc-card, .mat-mdc-card {
  background: rgba(255,255,255,0.06) !important;
  color: #eaf2fb;
  border: 1px solid rgba(255,255,255,0.10);
  backdrop-filter: blur(6px);
}

// .mat-mdc-card-title, .mat-mdc-card-subtitle {
//   color: #eaf2fb;
// }

.hero {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  /* (Quitar el background - SE MANEJA EN EL BODY ) */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
