<!-- 
<div class="head">
  <h2>Mis estudios</h2>
  <a mat-stroked-button color="primary" routerLink="/paciente/estudios/subir">Subir</a>
</div>

<div class="grid" *ngIf="archivos.length; else empty">
  <mat-card class="file" *ngFor="let f of archivos">
    <div class="name">{{ f.nombre }}</div>
    <div class="date">{{ f.fechaISO | date:'d/MM/yyyy HH:mm' }}</div>
    <a mat-button [href]="f.url" target="_blank">Abrir</a>
  </mat-card>
</div>

<ng-template #empty>
  <div class="empty">Aún no subiste estudios.</div>
</ng-template>
 -->
