name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      # AQUÍ ESTÁ EL CAMBIO CLAVE:
      - name: Install Dependencies
        run: npm install --legacy-peer-deps

      - name: Build
        run: npm run build -- --configuration=production

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_CLINICA_2025_RECUR }}
          channelId: live
          projectId: clinica-2025-recur



